/* https://colorhunt.co/palette/0f0e0e5412128b9a46eeeeee */
:root {
    --main-bg-color: #EEEEEE;
    --bg-green: #8B9A46;
    --bg-red: #541212;
    --bg-black: #0F0E0E;
}

body {
    background-color: var(--main-bg-color);
}

.bloco {
    height: 15vh;
    width: 15vh;
    border-radius: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
}

.bloco-green {
    background-color: var(--bg-green);
}

.bloco-red {
    background-color: var(--bg-red);
}

.bloco-black {
    background-color: var(--bg-black);
}