.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: antiquewhite;
    width: 100%;
    gap: 5px
}

.bloco {
    height: 200px;
    width: 80%;
    background-color: #bcd06c;
    color: white;
    text-align: center;
}

.bloco-verde-escuro {
    background-color: #114232;
}

.bloco-verde-claro {
    background-color: #87A922;
}

.bloco-amarelo {
    background-color: #FCDC2A;
}

@media (min-width: 768px) {
    .bloco {
        width: 40%;
    }
}

@media (min-width: 1024px) {
    .bloco {
        width: 30%;
    }
}